
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-drag: none;
  -webkit-app-region: none;
}

body {
  background-color: transparent;
  display: grid;
  place-content: center;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  font-size: 2rem;
}
.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
 
}

.container {
  height: 80vh;
  width: 50vh;
  background-color: black;
  border-radius: 1rem;
  padding: 1rem;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  
}

.keypad {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 15px;
}

input[type="text"] {
  width: 250px;
  height: 60px;
  border-radius: 5px;
  background: transparent;
  color: #fff;
  border: none;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

#clear {
  grid-column: 1/3;
  background-color: orange;
}

#equal {
  grid-column: 3/5;
  background-color: orange;
}

button {
  display: grid;
  place-content: center;
  background-color: rgb(54, 52, 52);
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-weight: bold;
}


.highlight {
  background-color: orange;

}
#clear:hover {
  background-color: white;
  color: orange;
}

#equal:hover {
  background-color: white;
  color: orange;
}
.highlight:hover {
  background-color: white;
  color: orange;
}

.square {
  grid-column: 1 / span 1;
  border-radius: 25px;
  place-content: unset;
  align-items: center;
  padding-left: 2rem;
}